@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: url('/fonts/EBGaramond-Regular.ttf');
  }
  
  @font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/fonts/EBGaramond-Bold.ttf');
  }
  
  @font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-display: swap;
    src: url('/fonts/EBGaramond-Italic.ttf');
  }
  
  @font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('/fonts/EBGaramond-BoldItalic.ttf');
  }