@import "tailwindcss";

@source "../lib";
@source "../pages";

@theme {
    --color-frappe-base: rgb(48, 52, 70);
    --color-frappe-blue: rgb(140, 170, 238);
    --color-frappe-text: rgb(198, 208, 245);

    --color-latte-base: rgb(239, 241, 245);
    --color-latte-blue: rgb(30, 102, 245);
    --color-latte-text: rgb(76, 79, 105);
    --color-latte-crust: rgb(220, 224, 232);

    --color-macchiato-base: rgb(36, 39, 58);
    --color-macchiato-text: rgb(202, 211, 245);
    --color-macchiato-blue: rgb(138, 173, 244);
    --color-macchiato-crust: rgb(24, 25, 38);

    --color-mocha-base: rgb(30, 30, 46);
    --color-mocha-text: rgb(205, 214, 244);
    --color-mocha-blue: rgb(137, 180, 250);
    --color-mocha-crust: rgb(17, 17, 27);

    --color-footer-light-1: rgb(30, 102, 245);
    --color-footer-light-2: rgb(136, 57, 239);
    --color-footer-light-3: rgb(230, 69, 83);
    --color-footer-dark-1: rgb(245, 169, 127);
    --color-footer-dark-2: rgb(238, 212, 159);
    --color-footer-dark-3: rgb(166, 218, 149);
}
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        scrollbar-gutter: stable;
    }

    a:hover {
        color: light-dark(var(--color-latte-blue), var(--color-macchiato-blue));
    }

    article p {
        margin-top: 16px;
        margin-bottom: 16px;
        line-height: 1.6;
    }

    article h2 {
        font-size: x-large;
        font-weight: bold;
    }

    article h3 {
        font-size: x-large;
    }

    article a {
        text-decoration: underline;
    }

    article h1 a,
    article h2 a,
    article h3 a,
    article h4 a,
    article h5 a,
    article h6 a {
        text-decoration: none;
    }

    article ul,
    article ol {
        margin: 1rem 0;
        padding-left: 2rem;
    }

    article ul {
        list-style-type: disc;
    }

    article ol {
        list-style-type: decimal;
    }

    article li {
        margin: 0.5rem 0;
        line-height: 1.5;
    }

    article ul ul,
    article ol ol,
    article ul ol,
    article ol ul {
        margin: 0.25rem 0;
    }
}
